.scrubs-scrubber {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.scrubs-scrubber .scrubs-images {
  position: relative;
  overflow: hidden;
  display: block;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrubs-scrubber .scrubs-image-placeholder {
  display: block;
  opacity: 0;
}

.scrubs-scrubber .scrubs-image-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

.scrubs-scrubber .scrubs-image {
  display: block;
  position: relative;
}

.scrubs-scrubber .scrubs-controls {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  width: 100%;
}

.scrubs-scrubber .scrubs-controls-bar {
  height: 100%;
  width: 4px;
  background: white;
  display: block;
  position: absolute;
  top: 0;
  right: -2px;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
}

.scrubs-scrubber .scrubs-controls-handle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -2px;
  height: 2.5em;
  width: 2.5em;
  margin-top: -1.25em;
  margin-right: -1.25em;
  display: block;
  border-radius: 100%;
  background: #e6e6e6;
  border: 0.25em solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.scrubs-scrubber .scrubs-controls-handle:after {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgODAgODAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDgwIDgwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik02NC4yLDI0LjZsMS4yLDExbC0xNS4xLTAuM3YxMC4xbDE1LjEtMC4zbC0xLjIsMTEuM2wxNS45LTE1LjlMNjQuMiwyNC42eiBNMzAuMSwzNS4zTDE1LDM1LjZsMS4yLTExLjFMMC4yLDQwLjRsMTUuOSwxNS45DQoJTDE1LDQ1LjJsMTUuMSwwLjNWMzUuM3oiLz4NCjwvc3ZnPg0K);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  content: "";
  display: block;
  height: 1.5em;
  left: 50%;
  margin-left: -0.75em;
  margin-top: -0.75em;
  position: absolute;
  top: 50%;
  width: 1.5em;
  opacity: 0.5;
}

.scrubs-scrubber.scrubs-vertical .scrubs-controls-bar {
  height: 4px;
  left: 0;
  top: 100%;
  right: auto;
  width: 100%;
  margin-top: -2px;
  margin-right: auto;
}
.scrubs-scrubber.scrubs-vertical .scrubs-controls-handle {
  right: 50%;
  top: 100%;
}
.scrubs-scrubber.scrubs-vertical .scrubs-controls-handle:after {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgODAgODAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDgwIDgwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik01Ni4xLDY0LjVsLTExLDEuMmwwLjMtMTUuMUgzNS4ybDAuMywxNS4xbC0xMS4zLTEuMmwxNS45LDE1LjlMNTYuMSw2NC41eiBNNDUuMywzMC4zbC0wLjMtMTUuMWwxMS4xLDEuMkw0MC4zLDAuNQ0KCUwyNC4zLDE2LjRsMTEuMS0xLjJsLTAuMywxNS4xSDQ1LjN6Ii8+DQo8L3N2Zz4NCg==);
}

.scrubs-scrubber[data-transition="true"] .trans {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}